$primary   : var(--pad-primary-color)
$secondary : var(--pad-success-color)
$accent    : var(--pad-primary-dark)

$dark      : var(--pad-bg-color-100)

$positive  : var(--pad-success-color)
$negative  : var(--pad-danger-color)
$info      : var(--pad-info-color)
$warning   : var(--pad-warning-color)

$body-background : var(--pad-bg-color)
$body-color      : var(--pad-text-color)